<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Movie Genie</title>
    <!-- We will create these CSS files in the next step -->
    <link rel="stylesheet" th:href="@{/globalCSS.css}">
    <link rel="stylesheet" th:href="@{/homeCSS.css}">
</head>
<body>
<h1>test</h1>
<p>testtest</p>
<header>
</header>

<main>
</main>

<footer>
</footer>

</body>
</html>